<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://use.fontawesome.com/f9888a3f24.css">
    <!-- <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet"> -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"
        integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA=="
        crossorigin="anonymous" />
    <link rel="stylesheet" href="css/main.css">
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <title>list</title>
</head>

<body>


    <div id="app" v-on:keyup.13="add" class="container">

        <!-- inizio header -->
        <header>

            <div class="logo"><img src="img/index.png" alt=""></div>


            <div>
                <input v-on:kedown.13="add" :class="{error: empty}" v-model="newTodoText" placeholder="Nuovo Todo" class="input">
                <button @click="add">Aggiungi</button>
            </div>


        </header>
        <!-- fine header -->

        <!-- inizio main -->
        <main>

            <ul>

                <li v-for="(item, index) in todos">
                    <p>{{ item }}</p>
                    <i class="fa fa-times" aria-hidden="true" @click="remove(index)"></i>
                </li>

            </ul>

        </main>
        <!-- fine main -->

    </div>


    <script src="js/script.js"></script>
</body>

</html>